<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APi restful Interactiva</title>
</head>
<body>
  <h1>Restful Task Api (Interactiva)</h1>

      <tr *ngFor="let task of tasks">
      <td>{{task.title}} <td>
        <td><button (click)="btnDetalle(task)">detalle</button></td>
    </tr>

    <h2>Detalle Seleccionado:</h2>
    Descripcion : {{ selectedDescription }} <br />
    Completado : {{ selectedCompleted }}

</body>
</html>
